:root {
    /* Primary */

    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);

    /* Neutral */

    --dark-gray: hsl(0, 0%, 59%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Kumbh Sans', sans-serif;
}
main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--dark-cyan);
}
.pattern-top {
    position: fixed;
    left: -726px;
    top: -462px;
}
.pattern-bottom {
    position: fixed;
    right: -668px;
    bottom: -664px;
}
.profile-card__section {
    display: flex;
    flex-direction: column;
    width: 88%;
    max-width: 360px;
    height: 400px;
    border-radius: 12px;
    background-color: white;    
    box-shadow: 0px 4px 10px -6px rgba(0,0,0,0.75);
    z-index: 10;
}
.images__container {
    position: relative;
}
.pattern-card {
    width: 100%;
    height: 144px;
    border-radius: 12px 12px 0px 0px;
}
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 96px;
    right: 50%;
    transform: translateX(50%);
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.profile-container img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.data__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding-top: 86px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--dark-gray);
}
.name {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--very-dark-desaturated-blue);
}
.name span {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--dark-gray);
}
.city {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--dark-grayish-blue);
}
.statistics__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
}
.statistics__container div {
    text-align: center;
}
.statistics__container div p:nth-child(1) {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 4px;
}
.statistics__container div p:nth-child(2) {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--dark-gray);
}
@media(min-width: 900px) {
    .pattern-top {
        position: fixed;
        left: -510px;
        top: -462px;
    }
    .pattern-bottom {
        position: fixed;
        right: -316px;
        bottom: -664px;
    }
}